.panel_container {
  padding: 16px;
}

.panel {
  background-color: #182034;
  padding: 24px;
  height: 88px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1rem;
  color: #ffffff;
  text-align: right;
  font-family: var(--font-league-spartan);
}

.keys_container {
  padding: 16px;
}

.keys {
  background-color: #232c43;
  padding: 24px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 12px;

  > :nth-child(17) {
    grid-column: 1 / span 2;
  }

  > :nth-child(18) {
    grid-column: 3 / span 2;
  }
}

.key_text {
  background-color: #637097;
  box-shadow: 0px 4px 0px 0px #404e72;
  color: #ffffff;
  font-size: 0.5rem;
}

.key_equal_sign {
  background-color: #d03f2f;
  box-shadow: 0px 4px 0px 0px #93261a;
  color: #ffffff;
  font-size: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .panel {
    padding: 36px 32px;
    height: 128px;
  }

  .keys {
    padding: 32px;
    grid-gap: 24px;
  }
}
